@import url(normalize.css);

:root {
  --main-color: #fff;
}
:root {
  --decoration-color: #492f30;
}

:root {
	--content-color: #757575;
}

body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	margin: 0 auto;
	background-color: #fff;
	background-image: url(../images/back_1.jpg);
	background-size: cover;
}
.wrap {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 640px;
	padding: 12px 10px 35px;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color:  var(--main-color);
	padding: 30px 15px;
}
.logotype img {
	padding: 3px;
	margin: 5px 10px;
	width: 300px;
}
.menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3px 5px;
	text-indent: 0em;
	text-align: justify; 
}
.menu li {
	text-indent: 0em;
	text-align: justify;
}
.nav-items  {
	margin: 5px 10px;
	padding: 2px;
	color:  var(--main-color);
	text-decoration: none;
	line-height: 1.3em;
}
.nav-items:hover {
	color:  var(--decoration-color);
}
.text-holder {
	text-align: center;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: calc(60% - 20px);
}
.text,
.search,
.description,
.btn  {
	width: calc(80% - 20px);
	vertical-align: top;
	color:  var(--content-color);
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	border: 1px solid  var(--decoration-color);
	border-radius: 3px;
	background-color: #c8c4be;
	padding: 5px 10px;
}
.text:focus,
.search:focus,
.btn:hover  {
	outline: none;
	border: 1px solid  var(--decoration-color);
	background-color: #e8e1d7;
}
.search {
	margin-left: 5px;
	font-size: 1em;
	width: calc(60px + 20px);
}
.description {
	margin: 50px auto 10px;
	font-size: 1em;
	font-weight: normal;
}
.description p span,
.list {
	font-weight: bold;
}
.list {
	padding-left: 25px;
}
.items {
	font-weight: normal;
}
.btn {
	width: calc(40% - 10px);
	margin: 30px 5px;
}
.slider {
	position: relative;
	
}












.footer {
	color:  var(--main-color);
	background-color: #c8c4be;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo img {
	width: 100px;
	margin: 20px;
}
footer .menu {
	flex-direction: column;
	margin-left: 15px;
}







/*_____________*/
@media (max-width: 768px) {
	.header {
		padding: 0px 0px;
	}
	.nav-items a {
		margin: 5px;
	}
	.text-holder {
		width: calc(95% - 5px);
	}
	.search {
		width: calc(50px + 20px);
	}
	.description {
		width: 95%;
	}
	.btn {
		width: calc(65% - 10px);
	}

}