@import url(normalize.css);

:root {
  --main-color: #fff;
}
:root {
  --decoration-color: #492f30;
}
:root {
	--content-color: #484848;
}
:root {
	--detail-color: #c8c4be;
}

body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	margin: 0 auto;
	background-color: var(--main-color);
	background-image: url(../images/back_1.jpg);
	background-size: cover;
}
.wrap {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 640px;
	padding: 12px 5px 35px;
}
.header {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color:  var(--main-color);
	padding: 30px 15px;
}
.logotype img {
	padding: 3px;
	margin: 5px 10px;
	width: 300px;
}
.menu {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 3px 5px;
	text-indent: 0em;
	text-align: justify; 
}
.menu li {
	text-indent: 0em;
	text-align: justify;
}
.nav-items  {
	margin: 5px 10px;
	padding: 2px;
	color:  var(--main-color);
	text-decoration: none;
	line-height: 1.3em;
}
.nav-items:hover {
	color:  var(--decoration-color);
}
.text-holder {
	text-align: center;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: calc(60% - 20px);
}
.text,
.search,
.description,
.btn,
.phones  {
	width: calc(90% - 5px);
	vertical-align: top;
	color:  var(--content-color);
	font-weight: bold;
	font-size: 1.5em;
	line-height: 2em;
	border: 1px solid  var(--decoration-color);
	border-radius: 3px;
	background-color: var(--detail-color);
	padding: 5px 10px;
}
.contacts {
	position: relative;
}
.phones {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 125px;
	font-size: 10px;
}
.contacts:hover .phones {
	display: block;
}
.number {
	margin: 0px;
}
.text,
.btn,
.search {
	background-color: #a7b3af;
}
.text:focus,
.search:focus,
.btn:hover  {
	outline: none;
	border: 1px solid  var(--decoration-color);
	background-color: #e8e1d7;
}
.search {
	margin-left: 5px;
	font-size: 1em;
	width: calc(60px + 20px);
}
.description {
	margin: 0px auto 10px;
	opacity: 0.6;
	font-size: 1em;
	font-weight: normal;
}
.recital p span,
.recital span {
	font-weight: bold;
}
.list {
	padding-left: 25px;
}
.items {
	font-weight: normal;
}
.btn {
	width: calc(40% - 10px);
	margin: 30px 5px;
	outline: none;
}
.section {
	margin: 0px auto 10px;
	width: calc(90% - 5px);
}
.slider {
	position: relative;
}
.map-container {
	display: none;
}
#mymap {
	display: none;
}
.footer {
	color:  var(--main-color);
	background-color: #a7b3af;
}
.footer-wrap {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.logo img {
	width: 120px;
	margin: 15px;
}
.footer .menu {
	flex-direction: row;
	font-size: 1.2em;
	margin-left: 15px;
}
.footer .menu  .nav-items {
	margin: 20px;
    display: block;
}
.arrow img {
	display: none;
}
.show img {
	display: block;
	width: 35px;
	position: fixed;
	bottom: 30px;
	left: 60px;
	transition: all 0.5s;
	z-index: 99;
}

/*_____________*/
@media (max-width: 910px) {
	.footer .menu  .nav-items {
		margin: 20px 5px;
	}
}
@media (max-width: 768px) {
	.header {
		padding: 0px 0px;
	}
	.nav-items a {
		margin: 3px;
	}
	.text-holder {
		width: calc(100% - 5px);
	}
	.search {
		width: calc(50px + 20px);
	}
	.description,
	.section {
		width: 99%;
	}
	.btn {
		width: calc(65% - 10px);
	}
	.footer .menu {
		flex-direction: column;
		margin: 5px;
	}
	.footer .menu  .nav-items {
		margin: 0 15px;
	}
	.logo img {
		margin: 30px 15px 15px;
	}
}